/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TIMEOUT_HORZ 36
#define COMBO_PRIOR_IDLE_HORZ 150

#define COMBO_TIMEOUT_VERT 60
#define COMBO_PRIOR_IDLE_VERT 50

// See the definition of ZMK_COMBO in zmk-helpers
#define ZMK_COMBO_VERT(name, bindings, keypos, layers) \
  ZMK_COMBO_6(name, bindings, keypos, layers, COMBO_TIMEOUT_VERT, COMBO_PRIOR_IDLE_VERT)

#define ZMK_COMBO_HORZ(name, bindings, keypos, layers) \
  ZMK_COMBO_6(name, bindings, keypos, layers, COMBO_TIMEOUT_HORZ, COMBO_PRIOR_IDLE_HORZ)

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous chording of mods 
// Hold: Modifiers that correspond to the hml/hmr modifiers at keypos (see instances below)
#define ZMK_COMBO_HRM(name, tap, keys, side, keypos, layers) \
  MAKE_HRM(combo_hrm_##name, &kp, tap, PINKY_TAP_TERM, side THUMBS)                             \
  ZMK_COMBO_HORZ(name, &combo_hrm_##name keys, keypos, layers)

// TODO Set up combos for pc mods that affect the PC instead of DEF

/* Horizontal combos - left hand */
ZMK_COMBO_HORZ(esc,   &kp ESC,        LT3 LT2,     DEF NAV NUM)

ZMK_COMBO_HRM(tab,   &kp,         LS(LALT) TAB,   KEYS_R, LM3 LM2,     DEF NAV NUM)
ZMK_COMBO_HRM(ldr,   &leader,     LS(LGUI) 0,     KEYS_R, LM2 LM1,     DEF NAV NUM)
ZMK_COMBO_HRM(ldrsh, &leader_sft, LS(LG(LALT)) 0, KEYS_R, LM3 LM2 LM1, DEF NAV NUM)

ZMK_COMBO_HORZ(cut,   &kp LG(X),      LB3 LB1,     DEF NAV NUM)
ZMK_COMBO_HORZ(copy,  &kp LG(C),      LB3 LB2,     DEF NAV NUM)
ZMK_COMBO_HORZ(paste, &kp LG(V),      LB2 LB1,     DEF NAV NUM)

/* Horizontal combos - right hand */
ZMK_COMBO_HORZ(bspc,  &kp BSPC,       RT1 RT2,     DEF NAV NUM)
ZMK_COMBO_HORZ(del,   &kp DEL,        RT2 RT3,     DEF NAV NUM)

ZMK_COMBO_HRM(lpar, &lpar_lt, RS(LGUI) 0, KEYS_L, RM1 RM2, DEF NAV NUM)
ZMK_COMBO_HRM(rpar, &rpar_gt, RS(LALT) 0, KEYS_L, RM2 RM3, DEF NAV NUM)

ZMK_COMBO_HORZ(lbkt,  &lbkt_lbrc,     RB1 RB2,   DEF NAV NUM)
ZMK_COMBO_HORZ(rbkt,  &rbkt_rbrc,     RB2 RB3,   DEF NAV NUM)

/* Vertical combos - left hand */
ZMK_COMBO_VERT(at,    &kp AT,         LT3 LM3,     DEF NAV NUM)
ZMK_COMBO_VERT(hash,  &kp HASH,       LT2 LM2,     DEF NAV NUM)
ZMK_COMBO_VERT(dllr,  &kp DLLR,       LT1 LM1,     DEF NAV NUM)
ZMK_COMBO_VERT(prcnt, &kp PRCNT,      LT0 LM0,     DEF NAV NUM)

ZMK_COMBO_VERT(grave, &kp GRAVE,      LM3 LB3,     DEF NAV NUM)
ZMK_COMBO_VERT(bslh,  &kp BSLH,       LM2 LB2,     DEF NAV NUM)
ZMK_COMBO_VERT(equal, &kp EQUAL,      LM1 LB1,     DEF NAV NUM)
ZMK_COMBO_VERT(tilde, &kp TILDE,      LM0 LB0,     DEF NAV NUM)

/* Vertical combos - right hand */
ZMK_COMBO_VERT(caret, &kp CARET,      RT0 RM0,     DEF NAV NUM)
ZMK_COMBO_VERT(plus,  &kp PLUS,       RT1 RM1,     DEF NAV NUM)
ZMK_COMBO_VERT(star,  &kp STAR,       RT2 RM2,     DEF NAV NUM)
ZMK_COMBO_VERT(amps,  &kp AMPS,       RT3 RM3,     DEF NAV NUM)

ZMK_COMBO_VERT(under, &kp UNDER,      RM0 RB0,     DEF NAV NUM)
ZMK_COMBO_VERT(minus, &kp MINUS,      RM1 RB1,     DEF NAV NUM)
ZMK_COMBO_VERT(fslh,  &kp FSLH,       RM2 RB2,     DEF NAV NUM)
ZMK_COMBO_VERT(pipe,  &kp PIPE,       RM3 RB3,     DEF NAV NUM)

