ZMK_COMBO_HORZ(find,      &find,      LT3 LT2, DEF PC NAV SYM NUM)
ZMK_COMBO_HORZ(find_next, &find_next, LT2 LT1, DEF PC NAV SYM NUM)
ZMK_COMBO_HORZ(find_prev, &find_prev, LT3 LT1, DEF PC NAV SYM NUM)
// The morphs are meant for PC, because Windows 11 may have different
// bindings per application. On MacOS, F3 triggers launchpad
SIMPLE_MORPH(find,      CTL, &kp LC(F),     &kp F3)
SIMPLE_MORPH(find_next, CTL, &kp LC(G),     &kp F3)
SIMPLE_MORPH(find_prev, CTL, &kp LS(LC(G)), &kp LS(F3))

//LEFT_COMBO_HRM(ldr,   &leader,     LS(LCTRL) 0,     LM2 LM1,    DEF PC NAV NUM)
//LEFT_COMBO_HRM(ldrsh, &leader_sft, LS(LC(LALT)) 0, LM3 LM2 LM1, DEF PC NAV NUM)

LEFT_COMBO_HRM(copy,  &cut_copy, LA(LSHFT) 0, LM3 LM2, DEF PC NAV SYM NUM)
LEFT_COMBO_HRM(paste, &kp, LS(LCTRL) LC(V), LM2 LM1, DEF PC NAV SYM NUM)
SIMPLE_MORPH(cut_copy, CTL, &kp LC(C), &kp LC(V))

ZMK_COMBO_HORZ(undo, &kp LC(Z), LB3 LB2, DEF PC NAV SYM NUM) 
ZMK_COMBO_HORZ(redo, &redo,     LB2 LB1, DEF PC NAV SYM NUM) 
SIMPLE_MORPH(redo, CTL, &kp LS(LC(Z)), &kp LC(Y))
