/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// See the definition of ZMK_COMBO in zmk-helpers
#define ZMK_COMBO_SLOW(name, bindings, keypos, layers)     \
  ZMK_COMBO_6(name, bindings, keypos, layers, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

#define ZMK_COMBO_FAST(name, bindings, keypos, layers)     \
  ZMK_COMBO_6(name, bindings, keypos, layers, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Modifiers correspond to the hml/hmr modifiers at keypos within 
// ZMK_COMBO_(SLOW|FAST) where these definitions are used
#define HML_LEADER &hml LS(LGUI) &leader
#define HML_LEADER_SFT &hml LS(LG(LALT)) &leader_sft
#define HML_TAB &hml LS(LALT) TAB
#define HMR_LPAR_LT &hmr RS(LGUI) &lpar_lt
#define HMR_RPAR_GT &hmr RS(LALT) &rpar_gt

#define LAYERS1 DEF NAV NUM

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous chording of mods 

/* Horizontal combos - left hand */
ZMK_COMBO_FAST(esc,   &kp ESC,        LT3 LT2,     LAYERS1)

ZMK_COMBO_FAST(tab,   HML_TAB,        LM3 LM2,     LAYERS1)
ZMK_COMBO_FAST(ldr,   HML_LEADER,     LM2 LM1,     LAYERS1)
ZMK_COMBO_FAST(ldrsh, HML_LEADER_SFT, LM3 LM2 LM1, LAYERS1)

ZMK_COMBO_FAST(cut,   &kp LG(X),      LB3 LB1,     LAYERS1)
ZMK_COMBO_FAST(copy,  &kp LG(C),      LB3 LB2,     LAYERS1)
ZMK_COMBO_FAST(paste, &kp LG(V),      LB2 LB1,     LAYERS1)

/* Horizontal combos - right hand */
ZMK_COMBO_FAST(bspc,  &kp BSPC,       RT1 RT2,     LAYERS1)
ZMK_COMBO_FAST(del,   &kp DEL,        RT2 RT3,     LAYERS1)

ZMK_COMBO_FAST(lpar,  HMR_LPAR_LT,    RM1 RM2,     LAYERS1)
ZMK_COMBO_FAST(rpar,  HMR_RPAR_GT,    RM2 RM3,     LAYERS1)

ZMK_COMBO_FAST(lbkt,  &lbkt_lbrc,     RB1 RB2,   LAYERS1)
ZMK_COMBO_FAST(rbkt,  &rbkt_rbrc,     RB2 RB3,   LAYERS1)

/* Vertical combos - left hand */
ZMK_COMBO_SLOW(at,    &kp AT,         LT3 LM3,     LAYERS1)
ZMK_COMBO_SLOW(hash,  &kp HASH,       LT2 LM2,     LAYERS1)
ZMK_COMBO_SLOW(dllr,  &kp DLLR,       LT1 LM1,     LAYERS1)
ZMK_COMBO_SLOW(prcnt, &kp PRCNT,      LT0 LM0,     LAYERS1)

ZMK_COMBO_SLOW(grave, &kp GRAVE,      LM3 LB3,     LAYERS1)
ZMK_COMBO_SLOW(bslh,  &kp BSLH,       LM2 LB2,     LAYERS1)
ZMK_COMBO_SLOW(equal, &kp EQUAL,      LM1 LB1,     LAYERS1)
ZMK_COMBO_SLOW(tilde, &kp TILDE,      LM0 LB0,     LAYERS1)

/* Vertical combos - right hand */
ZMK_COMBO_SLOW(caret, &kp CARET,      RT0 RM0,     LAYERS1)
ZMK_COMBO_SLOW(plus,  &kp PLUS,       RT1 RM1,     LAYERS1)
ZMK_COMBO_SLOW(star,  &kp STAR,       RT2 RM2,     LAYERS1)
ZMK_COMBO_SLOW(amps,  &kp AMPS,       RT3 RM3,     LAYERS1)

ZMK_COMBO_SLOW(under, &kp UNDER,      RM0 RB0,     LAYERS1)
ZMK_COMBO_SLOW(minus, &kp MINUS,      RM1 RB1,     LAYERS1)
ZMK_COMBO_SLOW(fslh,  &kp FSLH,       RM2 RB2,     LAYERS1)
ZMK_COMBO_SLOW(pipe,  &kp PIPE,       RM3 RB3,     LAYERS1)

