// NOTE Sticky keys on macos can interfere with mod-morphs on macos
#define MAKE_HRM(NAME, HOLD, TAP, TAP_TERM, TRIGGER_POS, ...) \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; \
               flavor = "balanced"; \
               tapping-term-ms = <TAP_TERM>; \
               quick-tap-ms = <QUICK_TAP_MS>; \
               require-prior-idle-ms = <TAP_TERM>; \
               hold-trigger-on-release; \
               hold-trigger-key-positions = <TRIGGER_POS>; \
               __VA_ARGS__)

#define LEFT_HRM(NAME, HOLD, TAP, TAP_TERM, ...) \
  MAKE_HRM(NAME, HOLD, TAP, TAP_TERM, KEYS_R THUMBS, __VA_ARGS__)

#define RIGHT_HRM(NAME, HOLD, TAP, TAP_TERM, ...) \
  MAKE_HRM(NAME, HOLD, TAP, TAP_TERM, KEYS_L THUMBS, __VA_ARGS__)

#define LEFT_KP_HRM(NAME, TAP_TERM, ...) \
  LEFT_HRM(NAME, &kp, &kp, TAP_TERM, __VA_ARGS__)                                

#define RIGHT_KP_HRM(NAME, TAP_TERM, ...) \
  RIGHT_HRM(NAME, &kp, &kp, TAP_TERM, __VA_ARGS__)

// MacOS
LEFT_KP_HRM(left_pinky,    PINKY_TAP_TERM, hold-while-undecided;) 
LEFT_KP_HRM(left_ring,     RINGY_TAP_TERM, hold-while-undecided;) 
LEFT_KP_HRM(left_middle,   MIDDY_TAP_TERM, hold-while-undecided;) 
LEFT_KP_HRM(left_index,    INDEX_TAP_TERM, hold-while-undecided;) 
RIGHT_KP_HRM(right_index,  INDEX_TAP_TERM, hold-while-undecided;) 
RIGHT_KP_HRM(right_middle, MIDDY_TAP_TERM, hold-while-undecided;) 
RIGHT_KP_HRM(right_ring,   RINGY_TAP_TERM, hold-while-undecided;) 
RIGHT_KP_HRM(right_pinky,  PINKY_TAP_TERM, hold-while-undecided;) 

#define lp(key) &left_pinky   LCTRL key 
#define lr(key) &left_ring    LALT key
#define lm(key) &left_middle  LSHFT key
#define li(key) &left_index   LGUI key
#define ri(key) &right_index  LGUI key
#define rm(key) &right_middle RSHFT key 
#define rr(key) &right_ring   LALT key
#define rp(key) &right_pinky  LCTRL key

// Windows (minimize flashing mods for ALT and GUI)
LEFT_KP_HRM(left_pinky_pc,    PINKY_TAP_TERM) 
LEFT_KP_HRM(left_ring_pc,     RINGY_TAP_TERM) 
LEFT_KP_HRM(left_middle_pc,   MIDDY_TAP_TERM, hold-while-undecided;) 
LEFT_KP_HRM(left_index_pc,    INDEX_TAP_TERM, hold-while-undecided;) 
RIGHT_KP_HRM(right_index_pc,  INDEX_TAP_TERM, hold-while-undecided;) 
RIGHT_KP_HRM(right_middle_pc, MIDDY_TAP_TERM, hold-while-undecided;) 
RIGHT_KP_HRM(right_ring_pc,   RINGY_TAP_TERM) 
RIGHT_KP_HRM(right_pinky_pc,  PINKY_TAP_TERM) 

#define lp_pc(key) &left_pinky_pc   LGUI key 
#define lr_pc(key) &left_ring_pc    LALT key
#define lm_pc(key) &left_middle_pc  LSHFT key
#define li_pc(key) &left_index_pc   LCTRL key
#define ri_pc(key) &right_index_pc  LCTRL key
#define rm_pc(key) &right_middle_pc RSHFT key 
#define rr_pc(key) &right_ring_pc   LALT key
#define rp_pc(key) &right_pinky_pc  LGUI key
