#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#ifndef LH2
  #define THUMBS LH1 LH0 RH0 RH1         // Thumbs on 34 keys.
#else
  // TODO Add additional thumb keys here when binding to them 
  // for the Glove 80
  #define THUMBS LH2 LH1 LH0 RH0 RH1 RH2 // Thumbs on 36+ keys.
#endif

// With the balanced flavor, modifiers are triggered when
// pressing and releasing another key while the hold-tap key is 
// held, or tapping-term-ms after pressing the hold-tap. Setting tapping-term-ms to a high
// value effectively eliminates timer-based holds. In this case, releasing the other key first
// triggers a modifier, while releasing the hold-tap key first triggers the tap. 
// 
// Sticky keys on macos can interfere with mod-morphs on macos
//
// hold-while-undecided leads to flashing mods (tapping mods
// to trigger standalone behavior) on windows. the effects
// vary by application
#define MAKE_HRM(NAME, HOLD, TAP, TAP_TERM, TRIGGER_POS, ...)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; \
               flavor = "balanced";            \
               tapping-term-ms = <TAP_TERM>; \
               quick-tap-ms = <QUICK_TAP_MS>;         \
               require-prior-idle-ms = <TAPPING_RESOLUTION>; \
               hold-trigger-on-release;         \
               hold-trigger-key-positions = <TRIGGER_POS>; \
               __VA_ARGS__)

// MacOS
MAKE_HRM(lp, &kp, &kp, PINKY_TAP_TERM, KEYS_R THUMBS, hold-while-undecided;) // Left-hand HRMs.
MAKE_HRM(rp, &kp, &kp, PINKY_TAP_TERM, KEYS_L THUMBS, hold-while-undecided;) // Right-hand HRMs.
MAKE_HRM(lr, &kp, &kp, RINGY_TAP_TERM, KEYS_R THUMBS) // Left-hand HRMs.
MAKE_HRM(rr, &kp, &kp, RINGY_TAP_TERM, KEYS_L THUMBS) // Right-hand HRMs.
MAKE_HRM(lm, &kp, &kp, MIDDY_TAP_TERM, KEYS_R THUMBS, hold-while-undecided;) // Left-hand HRMs.
MAKE_HRM(rm, &kp, &kp, MIDDY_TAP_TERM, KEYS_L THUMBS, hold-while-undecided;) // Right-hand HRMs.
MAKE_HRM(li, &kp, &kp, INDEX_TAP_TERM, KEYS_R THUMBS, hold-while-undecided;) // Left-hand HRMs.
MAKE_HRM(ri, &kp, &kp, INDEX_TAP_TERM, KEYS_L THUMBS, hold-while-undecided;) // Right-hand HRMs.

// Experimenting with Sunaku's config
//thumb: thumb_layer_access {
//  compatible = "zmk,behavior-hold-tap";
//  flavor = "balanced";
//  tapping-term-ms = <(TAPPING_RESOLUTION + 50)>;
//  quick-tap-ms = <(TAPPING_RESOLUTION + 150)>; // enable repeat
//  #binding-cells = <2>;
//  bindings = <&mo>, <&kp>;
//  #ifdef THUMB_FORGIVENESS
//  retro-tap; // tap on standalone hold
//  #endif
//};
//space: thumb_layer_access_spacebar {
//  compatible = "zmk,behavior-hold-tap";
//  flavor = ("balanced" + 150);
//  tapping-term-ms = <(TAPPING_RESOLUTION + 50)>;
//  quick-tap-ms = <TAPPING_RESOLUTION>; // enable repeat
//  #binding-cells = <2>;
//  bindings = <&mo>, <&kp>;
//  #ifdef SPACE_FORGIVENESS
//  retro-tap; // tap on standalone hold
//  #endif
//};