#define SWAPPER_POS RM1 RM2 RM3 RM4 RH4 // Continue swapper on NAV_LEFT NAV_UP NAV_DOWN NAV_RIGHT LS(TAB) 

// Tri-state for macOS 
ZMK_TRI_STATE(swapper,
    bindings = <&kt LCTRL>, <&kp TAB>, <&kt LCTRL>;
    ignored-key-positions = <SWAPPER_POS>;)

// Tri-state for Windows/RDP
MACRO(alt_press, &macro_press &kp LALT &macro_wait_time 120)
MACRO(alt_release, &macro_release &kp LALT)
ZMK_TRI_STATE(swapper_pc,
    bindings = <&alt_press>, <&kp TAB>, <&alt_release>;
    ignored-key-positions = <SWAPPER_POS>;)

// shortcuts in fn.dtsi                                
// PowerToys Keyboard Manager:                         
// ctrl space->alt space (with powertoys run enabled)  

#define _CUT        &kp LC(X)
#define _COPY       &kp LC(C)
#define _PASTE      &kp LC(V)
#define _UNDO       &kp LC(Z)              // Mostly cross-platform; suspends some Terminals
#define _REDO       &kp LS(LC(Z))          // MacOS or Google Workspace or VSCode
#define _REDO2      &kp LC(Y)              // Windows or Microsoft Office
#define _FIND       &kp LC(F)
#define _FIND_NEXT  &kp LC(G)
#define _FIND_PREV  &kp LC(LS(G))
//#define CANCEL     &kp K_CANCEL           // Cancel caps-word & auto-layers

#define TP_CORE \
  flavor = "tap-preferred"; \
  tapping-term-ms = <220>; \
  quick-tap-ms = <220>;

ZMK_HOLD_TAP(tp, bindings = <&kp>, <&kp>; TP_CORE)

#define _WORD_LEFT(_W)      &kp _W(LEFT)
#define _WORD_RIGHT(_W)     &kp _W(RIGHT)
#define _NAV_LEFT(_HOME)    &tp _HOME     LEFT   // Tap: left | Long-tap: start of line
#define _NAV_RIGHT(_END)    &tp _END      RIGHT  // Tap: right | Long-tap: end of line
#define _NAV_UP(_DOC_HOME)  &tp _DOC_HOME UP     // Tap: up | Long-tap: start of doc
#define _NAV_DOWN(_DOC_END) &tp _DOC_END  DOWN   // Tap: down | Long-tap: end of doc

#define WORD_LEFT     _WORD_LEFT(LA)
#define WORD_RIGHT    _WORD_RIGHT(LA)
#define NAV_LEFT      _NAV_LEFT(LC(LEFT))   
#define NAV_RIGHT     _NAV_RIGHT(LC(RIGHT)) 
#define NAV_UP        _NAV_UP(LC(UP))       
#define NAV_DOWN      _NAV_DOWN(LC(DOWN))   

#define WORD_LEFT_PC  _WORD_LEFT(LC) 
#define WORD_RIGHT_PC _WORD_RIGHT(LC) 
#define NAV_LEFT_PC   _NAV_LEFT(HOME) 
#define NAV_RIGHT_PC  _NAV_RIGHT(END) 
#define NAV_UP_PC     _NAV_UP(LC(HOME))
#define NAV_DOWN_PC   _NAV_DOWN(LC(END))  